
@{
    ViewBag.Title = "Bursary";
}

<h2>Bursary</h2>

<p>Do you make use of a Bursary <input type="checkbox" name="Bursary" value="true" /> </p>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <p align="right">
            <input type="submit" value="Save/Next" class="btn btn-success btn-sm next pull-right" />
        </p>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <form action="AfterSchool">
            <input type="submit" value="Back" class="btn btn-success btn-danger" />
        </form>
    </div>
</div>
